/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    border-bottom: 1px solid #aeaeae;
}

.StripeElement--focus {
    border-bottom: 2px solid #aeaeae;
}

.StripeElement:hover {
    border-bottom: 2px solid #eaeaea;
}

.StripeElement--invalid {
    border-color: #fa755a;
}
